@import 'tailwindcss';

:root {
  --background: #f5f5f4;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[contenteditable='true'] {
  border: 0.5px solid #eee;
  padding: 4px 8px 4px 4px;
  border-radius: 3px;

  &:empty:before {
    content: attr(data-placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color: #bcbcbc; /* Placeholder color */
  }

  &:focus {
    outline: none;
    border: 0.5px solid #c7c7c7;
  }
}

a {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.5em;
  text-decoration-color: #6a728233;

  &:hover {
    text-decoration-color: inherit;
  }
}
